
* {
  margin: 0;
  padding: 0;
}

.home-page{
  display: flex;
}

.menu{
  margin-left: 140px;
  border-right: 0.5px rgb(229, 227, 227) solid;
  width: 270px;
  position: fixed;
  overflow-x: hidden;
  height: 100%;
  z-index: 1;
}

.home{
  width: 600px;
  margin-left: 410px;
}

.discover{
  width: 500px;
  border-left: 0.5px rgb(229, 227, 227) solid;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  margin-left: 1010px;
  height: 100%;
}

.twitter-logo{
  width: 33px;
  background-image: none;
  height: 33px;
  display: block;
  padding: 8px;
}

.logo{
  width: 45px;
  background-image: none;
  vertical-align: middle;
  margin-bottom: 6px;

}

.home-text{
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-left: 5px;
}

.text{
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 5px;
}

b{
  color: black;
}

.username{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  margin-left: 5px;
  color: rgb(83, 100, 113);
}


.logo-container{
  position: relative;
  width: 50%;
}

.home-logo-container{
  position: relative;
  margin-top: 5px;
  width: 50%;
}

.explore-logo-container{
  position: relative;
  margin-top: 5px;
  width: 55%;
}

.notification-logo-container{
  position: relative;
  margin-top: 5px;
  width: 70%;
}

.messages-logo-container{
  position: relative;
  margin-top: 5px;
  width: 60%;
}

.bookmark-logo-container{
  position: relative;
  margin-top: 5px;
  width: 63%;
}

.twitterblue-logo-container{
  position: relative;
  margin-top: 5px;
  width: 63%;
}

.profile-logo-container{
  position: relative;
  margin-top: 5px;
  width: 45%;
}

.more-logo-container{
  position: relative;
  margin-top: 5px;
  width: 40%;
}

.profile{
  position: relative;
  margin-top: 130px;
  width: 95%;
  height: 55px;
  padding: 6px;
}


.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  border-radius: 50px;
  opacity: 0;
  transition: .3s ease;
  background-color: #615f5f;
}

.overlay-twitter{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 1px;
  width: 39%;
  border-radius: 50px;
  opacity: 0;
  transition: .3s ease;
  background-color: #1fc6fd;
}

.logo-container:hover .overlay-twitter{
  opacity: 0.2;
  cursor: pointer;
}

.home-logo-container:hover .overlay{
  opacity: 0.2;
  cursor: pointer;
}

.explore-logo-container:hover .overlay{
  opacity: 0.2;
  cursor: pointer;
}

.notification-logo-container:hover .overlay{
  opacity: 0.2;
  cursor: pointer;
}

.messages-logo-container:hover .overlay{
  opacity: 0.2;
  cursor: pointer;
}

.bookmark-logo-container:hover .overlay{
  opacity: 0.2;
  cursor: pointer;
}

.twitterblue-logo-container:hover .overlay{
  opacity: 0.2;
  cursor: pointer;
}

.profile-logo-container:hover .overlay{
  opacity: 0.2;
  cursor: pointer;
}

.more-logo-container:hover .overlay{
  opacity: 0.2;
  cursor: pointer;
}

.profile:hover .overlay{
  opacity: 0.2;
  cursor: pointer;
}

.tweet{
  padding: 16px;
  font-size: 17px;
  font-weight: bold;
  background-color: rgb(29, 155, 240);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  width: 225px;
  border: none;
  border-radius: 50px;
  margin-top: 10px;
}

.tweet:hover{
  background-color: rgb(26, 144, 222);
  cursor: pointer;
}

.profile-picture{
  width: 42px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}

.dots{
  width: 30px;
  margin-left: 100px;
}

.heading{
  top: 0px;
  position: sticky;
  background-color: rgba(255, 255, 255, 0.977);
  z-index: 1;
  border-left: 0.5px rgb(229, 227, 227) solid;
}

h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  padding: 15px;
}
h1:hover{
  cursor: pointer;
}

.button-group button{
  padding: 17px 118.5px;
  border: none;
  float: left;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.977);
  font-weight: bold;
  border-bottom: 0.5px rgb(229, 227, 227) solid;
}
.button-group button:hover{
  background-color: #e4e3e3;
}

.button-group button:focus .line{
  text-decoration: underline;
}

.tweeting{
  border-bottom: 0.5px rgb(229, 227, 227) solid;
}

.tweeting img{
  width: 47px;
  border-radius: 60px;
  padding: 15px;
  vertical-align:middle;
}

.tweeting img:hover{
  cursor: pointer;
}

.tweeting button{
  border: None;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 9px;
  background-color: rgb(29, 155, 240);
  color: white;
  font-weight: bold;
  width: 75px;
  border-radius: 50px;
  font-size: 15px;
  margin-left: 230px;
}

.tweeting button:hover{
  background-color: rgb(26, 144, 222);
  cursor: pointer;
}

.tweeting-options{
  margin-bottom: 10px;
  margin-left: 40px;
}


.tweeting-options img{
  width: 30px;
  padding: 5px;
  margin: 0px;
}

.text-tweet{
  border: None;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
  font-size: 22px;
}

.buttons img{
  margin-left: 75px;
}

.buttons img:hover{
  cursor: pointer;
}

.reply{
  width: 35px;
}

.like{
  width: 30px;
}

.retweet{
  width: 25px;
}

.insight{
  width: 25px;
}

.share{
  width: 25px;
}

.post{
  padding: 10px;
  border-bottom: 0.5px rgb(229, 227, 227) solid;
  position:relative;
}

.pfp{
  width: 55px;
  border-radius: 50px;
  float: left;
}

.pfp:hover{
  cursor: pointer;
  opacity: 0.9;
}

.username-post{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: rgb(83, 100, 113);
  margin-top: 8px;
  margin-left: 10px;
}

.username-post:hover {
  cursor: pointer;
}

.username-post  b:hover{
  text-decoration: underline;
}


.post-pic{
  width: 400px;
  border-radius: 20px;
  align-items: center;
  margin-left: 30px;
  margin-top: 20px;
}

.post-pic:hover{
  cursor: pointer;
}

p{
  display: inline;
}

.dots-post{
  width: 30px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.dots-post:hover{
  cursor: pointer;
}

.caption{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  margin-left: 63px;
  margin-top: 5px;
  display: block;
}

.verified{
  width: 20px;
  vertical-align: middle;
}

.search-container{
  width: 74%;
  background-color: rgb(247, 249, 249);
  margin-left: 25px;
  margin-top: 10px;
  border-radius: 50px;
}

.search-bar{
  border: none;
  background-color: rgb(247, 249, 249);
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
}

.search-icon{
  width: 35px;
  float: left;
  margin-top: 8px;
  margin-right: 5px;
  margin-left: 8px;
}

.whats-happening{
  width: 360px;
  background-color: rgb(247, 249, 249);
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 20px;
}

.title{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 21px;
  font-weight: bold;
  padding: 10px;
  margin-left: 10px;
}

.live{
  align-items:normal;
  display: flex;
  padding: 10px;
}

.live:hover{
  background-color: rgb(238, 240, 240);
  cursor: pointer;
}

.live p {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color: #615f5f;
 font-size: 13px;
 margin-left: 10px;
 line-height: 20px;
}
.live p b{
  font-size: 15px;
}

.live-photo{
 object-fit: cover;
 width: 70px;
 height: 70px;
 border-radius: 15px;
 margin-left: 130px;
}

.hashtag1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  color: #615f5f;
  padding: 15px;
  line-height: 20px;
}

.hashtag1:hover{
  background-color: rgb(238, 240, 240);
  cursor: pointer;
}

.hashtag1 p b{
  font-size: 15px;
}

.premote{
  float: left;
  width: 18px;
}


.hashtag{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  color: #615f5f;
  padding: 13px;
  line-height: 20px;
  position:relative;
}

.hashtag p b{
  font-size: 15px;
}

.hashtag img{
  width: 30px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.hashtag:hover{
  background-color: rgb(238, 240, 240);
  cursor: pointer;
}

.show-more {
 padding: 15px;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color: #1cb0e1;
 border-radius: 0px 0px 20px 20px;
}

.show-more:hover{
  background-color: rgb(238, 240, 240);
  cursor: pointer;
}

.who-follow{
  width: 360px;
  background-color: rgb(247, 249, 249);
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 20px;
}

.account{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  padding: 15px;
  display: flex;
}

.account-pfp{
  width: 50px;
  border-radius: 60px;
  float: left;
  margin-right: 10px;
}

.account p{
  font-size: 15px;
  color: #615f5f;
  line-height: 20px;
}

.follow-button{
  position: absolute;
  right: 15px;
  top: 17px;
  padding: 9px 18px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  border: none;
}

.follow-button:hover{
  cursor: pointer;
  opacity: 0.8;
}

.account:hover{
  background-color: rgb(238, 240, 240);
  cursor: pointer;
}

.account-verfied{
  width: 20px;
  vertical-align: middle;
}

.extra{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#615f5f;
  padding: 15px;
  font-size: 13px;
  width: 70%;
  margin-left: 50px;
  margin-bottom: 100px;
}

.extra p{
  margin-right: 10px;
  line-height: 18px;
}

.extra p span:hover{
  text-decoration: underline;
}

.more:hover{
  text-decoration: underline;
  cursor: pointer;
}



